# Hassas kimlik ve parola bilgileri (Asla GitHub'a yüklenmemeli!)
.env

# Python derleme ve önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class
*.log

# Sanal ortamlar
.venv/
venv/
ENV/
env/

# Geçici dosyalar
*.conf
.DS_Store

# IDE
.idea/
